extends layout

block content
  button(
    onclick='#{something()}'
    type="submit"
    class="btn btn-lg btn-primary btn-block"
  ) Download as CSV

  if message.length
    table.listing-table.table-dark.table-striped
      tr
        th topic
        th message
      each registration in message
        tr
          td= registration.topic
          td= registration.message         
  else
    p No message