extends layout

block content
  form(method="get" action="csv_data")
    button(
      id="myButton"
      class="btn btn-lg btn-primary btn-block"
    ) Download as CSV

  if message.length
    table(
      class="table-light table-striped table-hover"
      width="10%"
      table-layout="fixed"
    )
      tr
        th topic
        th message
      each registration in message
        tr
          td= registration.topic
          td= registration.message         
  else
    p No message
